/* header cssss-------------------> */

.container{
    width: 90%;
    margin:auto;
    border: 1px solid red;
}
.topline{
    display: flex;
    border: 1px solid rgb(119, 255, 0);
    justify-content: space-around;
}

.right{
    display: flex;
    border: 1px solid rgb(0, 174, 255);
    justify-content: space-around;
    gap: 10px;
}
.left{
    display: flex;
    border: 1px solid rgb(255, 0, 230);
    justify-content: space-around;
    gap: 10px;
}

.secondline{
    display: flex;
    border: 1px solid rgb(0, 255, 13);
    justify-content: space-around;
    gap: 10px;
}


/* Middle cssssss-------------------> */
.slider1{
  width: 90%;
  margin: auto;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  gap: 100px;
  background-color: rgb(252, 251, 251);
  border: 1px solid rgb(51, 0, 255);
}
/* .slider1>div>img{
  width: 100%;
  margin: auto;
} */

/* .slider1>div{
    border: 1px solid rgb(0, 170, 255);
    width: 200px;
    
} */

.text{
    border: 1px solid rgb(77, 255, 0);
    text-align: center;  
}

.row{
    border: 1px solid rgb(51, 0, 255);  
}
.tablink{
    border: 1px solid rgb(0, 255, 72);  
}

.col-xs-12{
    border: 1px solid rgb(255, 0, 208);  
    display: flex;
    justify-content: space-around;
}


.slider2{
    width: 90%;
    margin: auto;
    display: flex;
  
    overflow: auto;
    white-space: nowrap;
    gap: 80px;
    background-color: rgb(252, 251, 251);
    border: 1px solid rgb(255, 55, 0);

  }

  .slider2>div{
    border: 1px solid black;
    /* width: 100%;
    /* height: 100px; */
    /* margin: auto; */
    
  } 

  /* .slider2>div>img{
  width: 100%;
  margin: auto;
}   */



.slider3{
    width: 90%;
    margin: auto;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap: 100px;
    background-color: rgb(252, 251, 251);
    border: 1px solid rgb(255, 55, 0);
  }

  /* .slider3 img{
    width: 80%;
} */

.slider4{
    width: 90%;
    margin: auto;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap: 100px;
    background-color: rgb(252, 251, 251);
    border: 1px solid rgb(255, 55, 0);
  }

  .slider4 img{
    width: 80%;
}





.category{
    display: flex;
    justify-content: space-around;
}

.card{
    text-align: center;
    
}
.card:hover{
    background-color: skyblue;
}
a{
    text-decoration: none;
    color: black;
}


.lower{
    width: 90%;
    margin: auto;
    text-align: center;
}

.lower>img{
    width: 100%;
    margin: auto;
}

.footer{
    width: 90%;
    margin: auto;
    text-align: center;
}

.footer img{
    width: 100%;
    margin: auto;
}