


/* header cssss-------------------> */

.container{
    width: 90%;
    margin:auto;
    background-color: rgb(245, 243, 243);
    /* border: 1px solid red; */
}
.topline{
    display: flex;
    /* border: 1px solid rgb(119, 255, 0); */
    justify-content: space-around;
}

.right{
    display: flex;
    /* border: 1px solid rgb(0, 174, 255); */
    justify-content: space-around;
    gap: 10px;
}
.left{
    display: flex;
    /* border: 1px solid rgb(255, 0, 230); */
    justify-content: space-around;
    gap: 10px;
}

.secondline{
    display: flex;
    /* border: 1px solid rgb(0, 255, 13); */
    justify-content: space-around;
    gap: 10px;
    background-color: rgb(237, 235, 235);
}
.logo{
    width: 10%;
}
.logo img{
    width: 90%;
    margin-top: 5px;
}
.search{
    display: flex;
}
.box{
    display: flex;
    /* border: 1px solid blue; */
}
.all{
    margin-top: 15px;
}
.addcity{
      margin-top: 15px;
}
.loginregister{
    margin-top: 15px;
}
/* dropdownitems css--------------------------------------------------> */



#navbaritems {
    display: flex;
    /* border: 1px solid; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid pink; */
    background-color: rgb(222, 245, 245);
}


.dropbtn {

    color: rgb(63, 63, 63);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:hover {
    cursor: pointer;
    background-color: skyblue;
}

i:hover {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    gap: 80px;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}

.dropdown-content>div>ul>li {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

.dropdown-content div h4,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.dropdown-content>div>ul>li:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.dropdown-content>div h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

#dropdown-content-women {
    padding: 10px 30px;
    width: 1300px;
    height: auto;
    margin-left: -210px;
}

#dropdown-content-men {
    padding: 10px 30px;
    width: 1300px;
    height: auto;
    margin-left: -300px;
}

#dropdown-content-kids {
    padding: 10px 30px;
    width: 1300px;
    height: auto;
    margin-left: -360px;
}

#dropdown-content-originals {
    padding: 10px 30px;
    width: 1300px;
    height: auto;
    margin-left: -420px;
}

#dropdown-content-accesories {
    padding: 10px 30px;
    width: 1300px;
    height: auto;
    margin-left: -520px;
}

#dropdown-content-sale {
    padding: 10px 30px;
    width: 1300px;
    height: auto;
    margin-left: -630px;
}

#dropdown-content-sustain {
    padding: 10px 30px;
    width: 1300px;
    height: auto;
    margin-left: -695px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content div li {
    color: #333;
    
    line-height: 22px;
}





/* Middle cssssss-----------------------------------------------------------------> */
.slider1{
  width: 90%;
  margin: auto;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  gap: 100px;
  background-color: rgb(252, 251, 251);
  /* border: 1px solid rgb(51, 0, 255); */
}
/* .slider1>div>img{
  width: 100%;
  margin: auto;
} */

/* .slider1>div{
    border: 1px solid rgb(0, 170, 255);
    width: 200px;
    
} */

.text{
    /* border: 1px solid rgb(77, 255, 0); */
    text-align: center;  
}

.row{
    /* border: 1px solid rgb(51, 0, 255);   */
}
.tablink{
    /* border: 1px solid rgb(0, 255, 72);  */
    width: 25%; 
    text-align: center;
    background-color: white;
}
.tablink:hover{
     background-color: rgb(153, 235, 248); 
    color: rgb(37, 28, 214);
}
.open a:hover{
    color: rgb(58, 28, 209);
}

.col-xs-12{
    /* border: 1px solid rgb(255, 0, 208);   */
    display: flex;
    justify-content: space-around;
}


.slider2{
    width: 90%;
    margin: auto;
    display: flex;
  
    overflow: auto;
    white-space: nowrap;
    gap: 80px;
    background-color: rgb(252, 251, 251);
    /* border: 1px solid rgb(255, 55, 0); */

  }

  .slider2>div{
    /* border: 1px solid black; */
    /* width: 100%;
    /* height: 100px; */
    /* margin: auto; */
    
  } 

  /* .slider2>div>img{
  width: 100%;
  margin: auto;
}   */



.slider3{
    width: 90%;
    margin: auto;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap: 100px;
    background-color: rgb(252, 251, 251);
    /* border: 1px solid rgb(255, 55, 0); */
  }

  /* .slider3 img{
    width: 80%;
} */


.slider4{
    width: 90%;
    margin: auto;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap: 100px;
    background-color: rgb(252, 251, 251);
    /* border: 1px solid rgb(255, 55, 0); */
  }

  .slider4>div{
    
    height: 150px;
    /* border: 1px solid rgb(255, 55, 0); */
}

  .slider4 img{
    height:  100%;
}



.serchbycategory{
    margin-top: 50px;
    margin-bottom: 50px;
}

.category{
    
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.card{
    text-align: center;
    
}
.card:hover{
    background-color: skyblue;
}
a{
    text-decoration: none;
    color: black;
}


.lower{
    /* border: 1px solid rgb(255, 55, 0); */
    padding-top: 40px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.lower>img{
    width: 100%;
    margin: auto;
}

.footer{
    width: 90%;
    margin: auto;
    text-align: center;
}

.footer img{
    width: 100%;
    margin: auto;
    margin-top: 40px;
}